<a href="https://colab.research.google.com/github/CrockPS/ExcelData/blob/main/ExcelData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importações

---

In [83]:
import pandas as pd

#Lendo Planilhas

In [84]:
Vendas = pd.read_excel("Dados2021vmar22Envio.xlsx", sheet_name="Vendas")
display(Vendas)

,Pedido,Data,ID Cliente,ID Produto,Quantidade,Preço Unitário,Custo Unitário
0,EX - 442011,2021-01-05,1,2,6,229.40,168.12
1,DT - 442151,2021-01-19,1,4,6,1060.20,714.56
2,VA - 442181,2021-01-22,1,30,7,1334.90,923.98
3,VA - 442261,2021-01-30,1,9,12,1301.40,935.86
4,VA - 442321,2021-02-05,1,21,11,3907.70,1581.97
...,...,...,...,...,...,...,...
14128,VA - 44512175,2021-11-12,175,2,7,1207.60,868.32
14129,VA - 44514175,2021-11-14,175,25,10,4008.20,2992.93
14130,DT - 44517175,2021-11-17,175,25,7,182.50,110.71
14131,EX - 44522175,2021-11-22,175,8,12,4001.50,2123.95
14132,VA - 44524175,2021-11-24,175,15,7,1830.70,724.32

In [85]:
TbProduto = pd.read_excel("DadosProdutos.xlsx", sheet_name="TbProduto")
display(TbProduto)

    ID Produto     Produto Grupo  Imposto
0            1   Produto 1     A     0.10
1            2   Produto 2     A     0.10
2            3   Produto 3     A     0.10
3            4   Produto 4     A     0.10
4            5   Produto 5     A     0.10
5            6   Produto 6     A     0.10
6            7   Produto 7     B     0.11
7            8   Produto 8     B     0.11
8            9   Produto 9     B     0.11
9           10  Produto 10     B     0.11
10          11  Produto 11     B     0.11
11          12  Produto 12     B     0.11
12          13  Produto 13     C     0.21
13          14  Produto 14     C     0.21
14          15  Produto 15     C     0.21
15          16  Produto 16     C     0.21
16          17  Produto 17     C     0.21
17          18  Produto 18     C     0.21
18          19  Produto 19     C     0.21
19          20  Produto 20     D     0.15
20          21  Produto 21     D     0.15
21          22  Produto 22     D     0.15
22          23  Produto 23     D     0.15
23          24  Produto 24     D     0.15
24          25  Produto 25     D     0.15
25          26  Produto 26     D     0.15
26          27  Produto 27     D     0.15
27          28  Produto 28     D     0.15
28          29  Produto 29     D     0.15
29          30  Produto 30     D     0.15

In [86]:
TbMeta = pd.read_excel("DadosProdutos.xlsx", sheet_name="TbMeta")
display(TbMeta)

                Data    Produto       Meta
0       janeiro-2018  Produto 1 1293482.26
1     fevereiro-2018  Produto 1 1027978.63
2         março-2018  Produto 1 1076348.14
3         abril-2018  Produto 1 1179081.23
4          maio-2018  Produto 1 1327540.47
...              ...        ...        ...
1435     agosto-2021  Produto 9  214226.58
1436   setembro-2021  Produto 9  234213.82
1437    outubro-2021  Produto 9  308076.72
1438   novembro-2021  Produto 9  449255.90
1439   dezembro-2021  Produto 9  201125.77

[1440 rows x 3 columns]

#Configurando a Precisão de Casas Decimais

In [87]:
pd.set_option('float_format', '{:.2f}'.format)

#Atividade 01

In [88]:
pedidos = Vendas.groupby(["ID Cliente"]).sum()
pedidosCliente = pedidos.loc[:, "Quantidade"]
#print(pedidosCliente)
maxVal = pedidosCliente.max()
cont = 0
for i in pedidosCliente:
   cont = cont + 1
   if i == maxVal:
     print("O cliente que comprou mais itens foi o cliente com o ID número: "+ str(cont) +"\nEsse cliente comprou um total de: "+ str(maxVal))

#prova print(pedidosCliente[53])

O cliente que comprou mais itens foi o cliente com o ID número: 53
Esse cliente comprou um total de: 1305

#Atividade 02

In [100]:
Vendas["Receita"] = Vendas["Quantidade"] * Vendas["Preço Unitário"]

produtos = Vendas.groupby(["ID Produto"]).sum()

produtos["Impostos"] = produtos["Receita"] * TbProduto["Imposto"]

produtos["Custo Total"] = produtos["Quantidade"] * produtos["Preço Unitário"]

produtos["Margem Absoluta"] = produtos["Receita"] - produtos["Impostos"] - produtos["Custo Total"]

#print(produtos)

maxVal2 = produtos["Margem Absoluta"].max()
cont = 0
for i in produtos["Margem Absoluta"]:
   cont = cont + 1
   if i == maxVal2:
     print("O produto com maior Margem Absoluta foi o produto com ID número: "+ str(cont) +"\nEsse produto teve uma Margem Absoluta de: "+ str(maxVal2))

O produto com maior Margem Absoluta foi o produto com ID número: 9
Esse produto teve uma Margem Absoluta de: -545408759.334

#Atividade 03

In [90]:
produtos["Margem Percentual"] = produtos["Margem Absoluta"] / (produtos["Receita"] - produtos["Impostos"])

maxVal3 = produtos["Margem Percentual"].max()
cont = 0
for i in produtos["Margem Percentual"]:
   cont = cont + 1
   if i == maxVal3:
     print("O produto com maior Margem Percentual foi o produto com ID número: "+ str(cont) +"\nEsse produto teve uma Margem Percentual de: "+ str(maxVal3))

O produto com maior Margem Percentual foi o produto com ID número: 9
Esse produto teve uma Margem Percentual de: -191.45925230347322

#Atividade 04